<template>
  <div class="switcher">
    <div class="header">
      <div class="triggers">
        <div class="trigger" @click="imageCounter = 1">Superman</div>
        <div class="trigger" @click="switchImageCounter(2)">Batman</div>
        <div class="trigger" @click="switchImageCounter(3)">Flash</div>
      </div>
    </div>
    <div class="container">
      <i class="image image-superman" v-if="imageCounter === 1"></i>
      <i class="image image-batman" v-else-if="imageCounter === 2"></i>
      <i class="image image-flash" v-else-if="imageCounter === 3"></i>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Switcher',
  data() {
    return {
      imageCounter: 1
    }
  },
  // data: {
  //   imageCounter: 1
  // },
  methods: {
    switchImageCounter: function(counter) {
      this.imageCounter = counter
    }
  }
}
</script>
<style scoped lang="scss">
$color-blue: rgb(149, 158, 209);

  .switcher {
    width: 600px;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 5px;
    .header {
      background-color: lighten($color: $color-blue, $amount: 10);
      .triggers{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 2px solid #fff;
        padding-top: 25px;
        .trigger {
          border: 2px solid #fff;
          border-bottom: 0;
          padding: 5px 15px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          cursor: pointer;
          &:hover {
          background-color: lighten($color: $color-blue, $amount: 20);
          }
        }
      }
    }
    .container {
      .image {
        width: 200px;
        height: 200px;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 Auto;
        margin-top: 40px;
        &-superman {
          background-image: url('https://seeklogo.com/images/S/Superman-logo-B28D65B529-seeklogo.com.png');
        }
        &-batman {
          background-image: url('https://seeklogo.com/images/B/Batman-logo-F8295E46F2-seeklogo.com.png');
        }
        &-flash {
          position: relative;
          top: -25px;
          background-image: url('http://vignette3.wikia.nocookie.net/marvel_dc/images/d/df/Flash_Logo_01.png/revision/latest?cb=20140529051349');
        }
      }
      
    }
  }
</style>
